:host{
    display: inline-block;
    background-color: #fff;
    margin: 8px;
    padding: 8px;
    box-shadow: 0 10px 6px -6px #777;
    overflow: auto;
    border-radius: 4px;
}

.flight-error{
    border: solid 1px red;
    
}

.field-error{
    border: solid 1px red;
    color: yellow;
    background-color: red;
}

.rodation-error{
    border: solid 1px red;
}

.errors{
    border: solid 1px gray;
    background: #313131;
    color: #bbbb85;
}

.odd{
    background-color: #f9f7f7;
}